body {
    background-color: blueviolet;
    display: flex;
    flex-flow:wrap;
    justify-content: center;
}

header {
    background-color: #1F2937;
    color: white;
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}



.firstsection {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: aquamarine;
    width: 500px;
    height: fit-content;
    margin: 30px;
    
}
.secondsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

h2 {
    align-self:center;
}
.item {
    display: flex;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    
    
    width: 10%;
    
}


.koala {
    width: 70%;
}

.boxes {
    display: flex;
    justify-content: center;
    align-self: center;
   
    width: 100%;

}

.thirdsection {
    display: flex;
    flex-direction: column;
    align-items: center;;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.blue-box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background-color: blue;
    margin:0 500px;
}

.fourthsection {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 20;
}